@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

/* Section */
section {
  width: 600px;
  background-color: #0F0F0F;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 24px;
}

/* Main content */
.todo-content {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 24px;
}

/* Шапка Todo */
.todo-header-container {
  display: flex;
  width: 550px;
}

/* Оболочка для счетчика */
.todo-counter-container {
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  height: 24px;
  width: 24px;
}

/* Счетчик */
.counter {
  position: absolute;
  margin-bottom: 10px;
  margin-left: 8px;
  color: #7E818A;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.13px;
}

h1 {
  color: #FAFAFA;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.47px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 5px;
}

/* стили для декоративной линии под заголовком */
.decorated-line {
  width: 550px;
  height: 1px;
  background-color: #fff;
  opacity: 0.04;
  margin-bottom: 12px;
}

/* Задача */
#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  width: 550px;
  margin-bottom: 8px;
  display: flex;
}

.edit-task {
  width: 550px;
  background-color:#1e1e1e;
  border-radius: 10px;
}

.todo-item label {
  display: inline-block;
  padding: 8px;
  border: none;
  cursor: pointer;
}

 .todo-text {
  display: inline-block;
  color: #FAFAFA;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.13px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: -5px;
  white-space: pre-wrap;
}

.todo-text[contentEditable] {
  border: none;
  outline: none;
  caret-color: #A6E128;
  cursor: text;
} 


/* Выполненная задача */
.task-done {
  color: #3F4247;
  text-decoration: line-through;
}

/* Чекбокс */
.todo-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.todo-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;


  border: 0;

  clip: rect(0 0 0 0);
}
 
.todo-input:checked + .todo-checkbox {
  background: url('/Icon/Check.svg') #A6E128 no-repeat;
}

.todo-input:not(:checked):hover+ .todo-checkbox {
  background-color: rgba(255, 255, 255, 0.08);
}

/* Новые задачи */
.todo-add-container {
  display: flex;
  height: 40px;
  padding-bottom: 20px;
}

#input-box {
  order: 1;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 8px;
  outline: none;
  color: #FAFAFA;
  cursor: text;
  caret-color: #A6E128;
}

#input-box::placeholder {
  color: #3F4247;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.13px;
  font-weight: 400;
  margin-left: 12px;
}

#input-box[type=text] {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.13px;
  font-weight: 400;
}

/* Кнопка Add  */
.add-button {
  margin: 0;
  margin-left: 5px;
  margin-top: 8px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url(/Icon/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

/* Hover кнопка Add */
.add-button:hover {
  opacity: 0.8;
}

/* Active кнопка Add */
.add-button:active {
  opacity: 0.5;
}

/* Completed Task */
.todo-completed-container {
  padding-bottom: 30px;
}

h2 {
  color: #FAFAFA;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.10px;
  font-weight: 600;
  margin-bottom: 10px;
}

#completed-list {
  list-style: none;
  margin: 0;
  padding: 0;
}